attrs==21.2.0
beautifulsoup4==4.9.3
colorama==0.4.4
coverage==5.5
future==0.18.2
hupper==1.10.3
iniconfig==1.1.1
mando==0.6.4
packaging==21.0
PasteDeploy==2.1.1
plaster==1.0
plaster-pastedeploy==0.7
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.1
radon==5.1.0
six==1.16.0
soupsieve==2.2.1
toml==0.10.2
translationstring==1.4
venusian==3.0.0
waitress==2.0.0
WebOb==1.8.7
WebTest==2.0.35
zope.component==5.0.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.1.0
zope.interface==5.4.0
