alabaster==0.7.12
appdirs==1.4.4
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
black==21.7b0
certifi==2021.5.30
charset-normalizer==2.0.4
click==8.0.1
colorama==0.4.4
contextlib2==21.6.0
coverage==5.5
distlib==0.3.2
docutils==0.17.1
execnet==1.9.0
filelock==3.0.12
flake8==3.9.2
flake8-2020==1.6.0
future==0.18.2
idna==3.2
imagesize==1.2.0
importlib-metadata==4.6.3
iniconfig==1.1.1
jaraco.context==4.0.0
jaraco.envs==2.1.1
jaraco.functools==3.3.0
jaraco.path==3.3.1
Jinja2==3.0.1
mando==0.6.4
MarkupSafe==2.0.1
mccabe==0.6.1
mock==4.0.3
more-itertools==8.8.0
mypy==0.910
mypy-extensions==0.4.3
packaging==21.0
path==16.2.0
path.py==12.5.0
pathspec==0.9.0
Paver==1.3.4
pep517==0.11.0
platformdirs==2.2.0
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
pytest-black==0.3.12
pytest-checkdocs==2.7.1
pytest-cov==2.12.1
pytest-enabler==1.2.0
pytest-fixture-config==1.7.0
pytest-flake8==1.0.7
pytest-forked==1.3.0
pytest-mypy==0.8.1
pytest-shutil==1.7.0
pytest-virtualenv==1.7.0
pytest-xdist==2.3.0
pytz==2021.1
radon==5.1.0
regex==2021.7.6
requests==2.26.0
singledispatch==3.6.2
six==1.16.0
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
termcolor==1.1.0
toml==0.10.2
tomli==1.2.0
tox==3.24.1
typing-extensions==3.10.0.0
urllib3==1.26.6
virtualenv==20.7.0
zipp==3.5.0
