alabaster==0.7.12
appdirs==1.4.4
attrs==21.2.0
Babel==2.9.1
backports.entry-points-selectable==1.1.0
Brotli==1.0.9
bump2version==1.0.1
certifi==2021.5.30
charset-normalizer==2.0.3
colorama==0.4.4
coverage==5.5
cycler==0.10.0
distlib==0.3.2
docutils==0.17.1
filelock==3.0.12
fs==2.4.13
future==0.18.2
idna==3.2
imagesize==1.2.0
iniconfig==1.1.1
Jinja2==3.0.1
kiwisolver==1.3.1
lxml==4.6.3
lz4==3.1.3
mando==0.6.4
MarkupSafe==2.0.1
matplotlib==3.4.2
mpmath==1.2.1
mypy==0.910
mypy-extensions==0.4.3
numpy==1.21.1
packaging==21.0
Pillow==8.3.1
platformdirs==2.2.0
pluggy==0.13.1
psutil==5.8.0
py==1.10.0
Pygments==2.9.0
pyparsing==2.4.7
pytest==6.2.4
python-dateutil==2.8.2
pytz==2021.1
radon==5.1.0
requests==2.26.0
scipy==1.7.0
six==1.16.0
skia-pathops==0.6.0.post2
snowballstemmer==2.1.0
Sphinx==4.1.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.8
toml==0.10.2
tox==3.24.0
typing-extensions==3.10.0.0
unicodedata2==13.0.0.post2
urllib3==1.26.6
virtualenv==20.6.0
zopfli==0.1.8
